Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-06, with the labels that each got.

#375 unit tests for include exclude
  backend/packages/Upgrade/README.md
  backend/packages/Upgrade/package-lock.json
  backend/packages/Upgrade/package.json
  backend/packages/Upgrade/test/unit/controllers/ExcludeController.test.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentExcludeController.test.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentIncludeController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ExperimentExcludeServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ExperimentIncludeServiceMock.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitExperimentGroupExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitExperimentGroupInclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitExperimentIndividualExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitExperimentIndividualInclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitGroupExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitIndividualExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/services/ExperimentExcludeService.test.ts
  backend/packages/Upgrade/test/unit/services/ExperimentIncludeService.test.ts
Labels: backend

#378 fixes deprecated and misapplied combinelatest usage
  frontend/projects/upgrade/src/app/core/auth/auth.guard..ts
  frontend/projects/upgrade/src/app/core/auth/negate.auth.guard.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/logs/logs.service.ts
  frontend/projects/upgrade/src/app/core/preview-users/preview-users.service.ts
  frontend/projects/upgrade/src/app/core/users/store/users.effects.ts
  frontend/projects/upgrade/src/app/core/users/users.service.ts
Labels: frontend, feature

#377 experiment effects 100 percent covered
  frontend/README.md
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.spec.ts
Labels: frontend, feature

#391 auth store specs + refactoring to make testing possible
  frontend/README.md
  frontend/projects/upgrade/src/app/core/auth/store/auth.actions.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.spec.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.selectors.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selector.spec.ts
Labels: frontend, feature

#394 missing await on delete
  backend/packages/Upgrade/src/api/repositories/QueryRepository.ts
Labels: backend, small-pr

#398 additional repository unit tests
  backend/packages/Upgrade/README.md
  backend/packages/Upgrade/src/api/repositories/FlagVariationRepository.ts
  backend/packages/Upgrade/src/api/repositories/IndividualExclusionRepository.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitIndividualExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/FeatureFlagRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/FlagVariationRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/GroupEnrollmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/GroupExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/IndividualEnrollmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/IndividualExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/LogRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/MetricRepository.test.ts
Labels: backend

#305 Displaying the number of groups having met ending criteria for the group experiment
  backend/packages/Upgrade/src/api/controllers/ExperimentController.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionalStateChange/GroupUserCount.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentController.test.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.actions.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.model.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selector.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-list/experiment-list.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-end-criteria/experiment-end-criteria.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-end-criteria/experiment-end-criteria.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-end-criteria/experiment-end-criteria.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  frontend/projects/upgrade/src/environments/environment.bsnl.ts
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
Labels: backend, frontend

#399 categorical metrics working
  backend/packages/Upgrade/src/api/repositories/LogRepository.ts
  backend/packages/Upgrade/src/api/services/QueryService.ts
  backend/packages/Upgrade/test/integration/Experiment/dataLog/LogOperations.ts
  backend/packages/Upgrade/test/unit/services/QueryService.test.ts
  frontend/projects/upgrade/src/app/features/dashboard/experiment-users/components/experiment-users/experiment-users.component.ts
  frontend/projects/upgrade/src/app/shared/components/query-result/query-result.component.html
Labels: backend, frontend

#400 env var and base-url refactor
  frontend/README.md
  frontend/projects/upgrade/src/app/app.module.ts
  frontend/projects/upgrade/src/app/core/analysis/analysis.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/analysis/analysis.data.service.ts
  frontend/projects/upgrade/src/app/core/auth/auth.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/auth/auth.data.service.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.spec.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.ts
  frontend/projects/upgrade/src/app/core/core.module.ts
  frontend/projects/upgrade/src/app/core/error-handler/app-error-handler.service.spec.ts
  frontend/projects/upgrade/src/app/core/error-handler/app-error-handler.service.ts
  frontend/projects/upgrade/src/app/core/experiment-users/experiment-users.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiment-users/experiment-users.data.service.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-base-url-interceptor.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-error.interceptor.spec.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-error.interceptor.ts
  frontend/projects/upgrade/src/app/core/logs/logs.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/logs/logs.data.service.ts
  frontend/projects/upgrade/src/app/core/preview-users/preview-users.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/preview-users/preview-users.data.service.ts
  frontend/projects/upgrade/src/app/core/segments/segments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/segments/segments.data.service.ts
  frontend/projects/upgrade/src/app/core/settings/settings.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/settings/settings.data.service.ts
  frontend/projects/upgrade/src/app/core/title/title.service.spec.ts
  frontend/projects/upgrade/src/app/core/title/title.service.ts
  frontend/projects/upgrade/src/app/core/users/users.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/users/users.data.service.ts
  frontend/projects/upgrade/src/app/core/version/version.service.spec.ts
  frontend/projects/upgrade/src/app/core/version/version.service.ts
  frontend/projects/upgrade/src/app/features/dashboard/logs/components/timeline/timeline.component.ts
  frontend/projects/upgrade/src/environments/environment-types.ts
  frontend/projects/upgrade/src/environments/environment.bsnl.ts
  frontend/projects/upgrade/src/environments/environment.json
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
  frontend/projects/upgrade/src/index.html
  frontend/terraform/environments/staging/ContextMetaData.ts
  frontend/terraform/environments/staging/contextmetadata.json
Labels: frontend, feature

#408 version bump
  package.json
Labels: small-pr
