Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-07, with the labels that each got.

#416 experiment detail page cosmetic changes for conditions and decision point
  frontend/projects/upgrade/src/app/features/dashboard/home/components/table-row/table-row.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: frontend

#431 Issue- 411 Fixed default rows in Participants Stepper
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
Labels: small-pr, frontend

#432 Adding participants page title, metrics display name change and removing required checkbox
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: frontend

#434 adds logic to remove empty row before form validation check
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
Labels: frontend, bugfix

#436 Fix/Issue-420,422 solved Equal Weight Assignment errors
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
Labels: frontend

#439 revert display name label
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.html
Labels: small-pr, frontend, bugfix

#440 Fix/issue 405 Resolving editing on enrolling and enrollment complete state when equal weights PR was merged
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
Labels: small-pr, frontend

#441 Fix/issue 414 Centering Weights Column
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: small-pr, frontend

#443 fixes logic for showing correct panel class in edit-status modal
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.ts
Labels: small-pr, frontend, bugfix

#445 Fix/issue 428 - Solved status not showing error
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/segments-list.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/view-segment/view-segment.component.ts
Labels: small-pr, frontend

#442 Feature/consistent modal button styles
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/components/flag-overview/flag-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/components/flag-variations/flag-variations.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/components/modal/delete-flag/delete-flag.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-post-condition/experiment-post-condition.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-post-condition/experiment-post-condition.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-schedule/experiment-schedule.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-schedule/experiment-schedule.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-end-criteria/experiment-end-criteria.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-status/experiment-status.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/export-experiment/export-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/post-experiment-rule/post-experiment-rule.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/add-metrics/add-metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/delete-metrics/delete-metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/new-user/new-user.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/modal/delete-segment/delete-segment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/modal/duplicate-segment/duplicate-segment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/modal/import-segment/import-segment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segment-members/segment-members.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segment-overview/segment-overview.component.html
  frontend/projects/upgrade/src/app/shared/components/delete/delete.component.html
  frontend/projects/upgrade/src/app/shared/components/query-result/query-result.component.html
  frontend/projects/upgrade/src/styles.scss
  frontend/projects/upgrade/src/styles/shared-modal.scss
Labels: frontend, feature

#448 fix typo
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: small-pr, frontend, bugfix

#451 experiment-users store specs
  frontend/README.md
  frontend/projects/upgrade/src/app/core/experiment-users/store/experiment-users.effects.spec.ts
  frontend/projects/upgrade/src/app/core/experiment-users/store/experiment-users.reducer.spec.ts
Labels: frontend, feature

#459 remove environment.json, unnecessary
  frontend/projects/upgrade/src/environments/environment.json
Labels: small-pr, frontend, feature

#458 node 16 docker-nix, package-lock for node types
  docker.nix
  frontend/package-lock.json
  frontend/package.json
Labels: small-pr, frontend, feature

#462 Assignment Weight header change on design stepper and handling integer weights
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: small-pr, frontend, bugfix

#464 update except options to be same as include
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.html
Labels: small-pr, frontend, bugfix

#461 analysis effects spex
  frontend/projects/upgrade/src/app/core/analysis/store/analysis.effects.spec.ts
Labels: frontend, feature

#465 segment repository unit tests
  backend/packages/Upgrade/test/unit/repositories/ExperimentSegmentExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentSegmentInclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/GroupForSegmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/IndividualForSegmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/SegmentRepository.test.ts
Labels: backend, feature

#466 selectors specs
  frontend/README.md
  frontend/projects/upgrade/src/app/core/analysis/store/analysis.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/analysis/store/analysis.selector.spec.ts
  frontend/projects/upgrade/src/app/core/title/title.service.spec.ts
Labels: frontend, feature

#467 repository unit testing
  backend/packages/Upgrade/README.md
  backend/packages/Upgrade/src/api/repositories/AnalyticsRepository.ts
  backend/packages/Upgrade/src/api/repositories/DecisionPointRepository.ts
  backend/packages/Upgrade/src/api/repositories/ExperimentConditionRepository.ts
  backend/packages/Upgrade/test/unit/repositories/AnalyticsRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/DecisionPointRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ErrorRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentAuditLogRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentConditionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentUserRepository.test.ts
Labels: backend, feature

#446 Release1 Bug Fixes for Metrics Stepper Page
  backend/packages/Upgrade/src/database/migrations/1656134880479-baseSchema.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  types/src/Experiment/enums.ts
Labels: backend, frontend, types

#469 meta-reducer specs
  frontend/projects/upgrade/src/app/core/meta-reducers/clear-state.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/meta-reducers/debug-reducer.spec.ts
  frontend/projects/upgrade/src/app/core/meta-reducers/init-state-from-local-storage.reducer.spec.ts
Labels: frontend, feature

#468 Feature/logs specs
  frontend/README.md
  frontend/projects/upgrade/src/app/core/auth/store/auth.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/logs/store/logs.effects.spec.ts
  frontend/projects/upgrade/src/app/core/logs/store/logs.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/logs/store/logs.selectors.spec.ts
Labels: frontend, feature

#478 adds null coalescing for weights checkbox condition
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
Labels: small-pr, frontend, bugfix

#481 equal weights validation for 6 or more conditions
  frontend/projects/upgrade/src/app/features/dashboard/home/validators/experiment-form.validators.ts
Labels: small-pr, frontend, bugfix

#482 Unify experiment stepper's checkbox label design
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-schedule/experiment-schedule.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-schedule/experiment-schedule.component.scss
  frontend/projects/upgrade/src/styles/utility.scss
Labels: small-pr, frontend

#479 apply width to different element
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.scss
Labels: small-pr, frontend, bugfix

#483 spex
  frontend/README.md
  frontend/projects/upgrade/src/app/core/segments/store/segments.effects.spec.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.selectors.spec.ts
Labels: frontend, feature
