Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-09, with the labels that each got.

#528 Bugfix/post experiment rule import issue
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/test/integration/Experiment/enrollmentCode/ExperimentExperimentEnrollmentCode.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/PreviewScenario2.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario2.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/index.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
Labels: backend, frontend, bugfix

#524 275 java clientlib
  clientlibs/java/pom.xml
  clientlibs/java/src/main/java/org/upgradeplatform/client/ExperimentClient.java
  clientlibs/java/src/main/java/org/upgradeplatform/client/Main.java
  clientlibs/java/src/main/java/org/upgradeplatform/requestbeans/MarkExperimentRequest.java
  clientlibs/java/src/main/java/org/upgradeplatform/responsebeans/ExperimentUser.java
  clientlibs/java/src/main/java/org/upgradeplatform/responsebeans/MarkExperimentPoint.java
  clientlibs/java/src/main/java/org/upgradeplatform/utils/Utils.java
Labels: clientlibs-java

#529 Fix/issue 457 - ConditionAlias
  backend/packages/Upgrade/src/api/models/ConditionAlias.ts
  backend/packages/Upgrade/src/api/models/DecisionPoint.ts
  backend/packages/Upgrade/src/api/models/Experiment.ts
  backend/packages/Upgrade/src/api/models/ExperimentCondition.ts
  backend/packages/Upgrade/src/api/repositories/ConditionAliasRepository.ts
  backend/packages/Upgrade/src/api/repositories/ExperimentRepository.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/database/migrations/1661446167721-ConditionAlias.ts
  backend/packages/Upgrade/src/types/ExperimentInput.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/ConditionAliases.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/EnrollmentWithConditionAlias.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/index.ts
  backend/packages/Upgrade/test/integration/index.test.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/index.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentRepository.test.ts
Labels: backend, types

#522 Feature/aliases table simple experiment
  frontend/README.md
  frontend/projects/upgrade/src/app/core/experiments/experiment-utility.service.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.actions.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.model.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selector.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selectors.ts
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.spec.ts
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.ts
  frontend/projects/upgrade/src/app/features/dashboard/experiment-users/components/experiment-users/experiment-users.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/aliases-table/aliases-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/aliases-table/aliases-table.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/aliases-table/aliases-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/home.module.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  frontend/projects/upgrade/src/styles/shared-modal.scss
Labels: frontend, feature

#535 Refine Aliases Table UI
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/aliases-table/aliases-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/aliases-table/aliases-table.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
Labels: ui change, frontend, design

#537 533 missing validation errors
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.ts
Labels: small-pr, frontend

#534 Add pending state for stepper, wait for contextmetadata
  frontend/README.md
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.actions.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.model.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selectors.ts
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.spec.ts
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.ts
Labels: frontend, bugfix

#536 Bugfix/equal weight checkbox on edit
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
Labels: small-pr, frontend, bugfix

#539 disable alias btn when in non-editable state, refactor redundant condition
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
Labels: frontend, bugfix

#541 Front-end changes left for issue #505
  backend/packages/Upgrade/src/config.json
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.scss
Labels: backend, frontend

#540 Apply scrolling transition when the "Aliases" button is clicked
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/polyfills.ts
  frontend/projects/upgrade/src/polyfills/smoothscroll.ts
  frontend/projects/upgrade/src/styles/shared-modal.scss
Labels: ui change, frontend, design

#543 add caching var to local docker env
  backend/packages/Upgrade/.env.docker.local
Labels: backend, small-pr, feature

#544 Fix metrics rows margin
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.scss
Labels: small-pr, frontend, design

#547 defer post-login data fetches until after nav end
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.spec.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.ts
Labels: small-pr, frontend, bugfix

#550 Update names in the experiment details page
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.html
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: small-pr, frontend, design

#559 remove condition from array
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
Labels: small-pr, frontend

#557 Feature/regression scripts
  regression/.eslintrc.json
  regression/.gitignore
  regression/package-lock.json
  regression/package.json
  regression/src/ExcludeIfReachedTests/ExcludeIfReachedExclusionProfiles.ts
  regression/src/ExcludeIfReachedTests/ExcludeIfReachedTestScenarios.ts
  regression/src/ExcludeIfReachedTests/ExcludeIfReachedTestSuite.ts
  regression/src/ExcludeIfReachedTests/excludeIfReachedTests.md
  regression/src/XPRIZE/XPRIZE_TestScenarios.ts
  regression/src/XPRIZE/XPRIZE_constants.ts
  regression/src/constants.ts
  regression/src/env.ts
  regression/src/index.ts
  regression/src/mocks/RequestResponse.ts
  regression/src/mocks/SpecsDetails.ts
  regression/src/mocks/Users.ts
  regression/tsconfig.json
Labels: feature
