Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-05, with the labels that each got.

#354 Updating slower query for enrollment count and removing group count on homepage
  backend/packages/Upgrade/src/api/repositories/AnalyticsRepository.ts
  backend/packages/Upgrade/test/integration/ExperimentStats/DetailGroupExperiment.ts
  backend/packages/Upgrade/test/integration/ExperimentStats/DetailIndividualExperiment.ts
  backend/packages/Upgrade/test/integration/ExperimentStats/GroupEnrollment.ts
  backend/packages/Upgrade/test/integration/ExperimentStats/IndividualEnrollment.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-list/experiment-list.component.html
Labels: backend, frontend

#351 Fix: Issue-333: Allow Adding/editing of firstName and lastName along with userRole in profile
  backend/packages/Upgrade/src/api/controllers/UserController.ts
  backend/packages/Upgrade/src/api/controllers/validators/UserDetailsValidator.ts
  backend/packages/Upgrade/src/api/repositories/UserRepository.ts
  backend/packages/Upgrade/src/api/services/UserService.ts
  backend/packages/Upgrade/test/unit/controllers/UserController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/UserServiceMock.ts
  backend/packages/Upgrade/test/unit/services/UserService.test.ts
  frontend/projects/upgrade/src/app/core/users/store/users.actions.ts
  frontend/projects/upgrade/src/app/core/users/store/users.effects.ts
  frontend/projects/upgrade/src/app/core/users/store/users.model.ts
  frontend/projects/upgrade/src/app/core/users/store/users.reducer.ts
  frontend/projects/upgrade/src/app/core/users/users.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/users/users.data.service.ts
  frontend/projects/upgrade/src/app/core/users/users.service.spec.ts
  frontend/projects/upgrade/src/app/core/users/users.service.ts
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/new-user/new-user.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/new-user/new-user.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/new-user/new-user.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/profile-info/profile-info.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/profile-info/profile-info.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  frontend/projects/upgrade/src/environments/environment.bsnl.ts
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
Labels: backend, frontend

#361 Hotfix/1.1.94 workspace names fix
  backend/packages/Upgrade/patch/AlternateConditionFunctions.ts
  backend/packages/Upgrade/patch/alternateConditions.json
  package.json
Labels: backend

#362 add http cancel interceptor on user navigating away from page
  frontend/projects/upgrade/src/app/core/core.module.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-cancel.interceptor.spec.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-cancel.interceptor.ts
Labels: frontend, feature

#366 import experiments with new uuid's
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
Labels: small-pr, frontend

#364 iscontextchanged logic bug
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/new-experiment/new-experiment.component.ts
Labels: small-pr, frontend

#352 Fix/issue 215: Mailing new added users
  backend/packages/Upgrade/src/api/services/AWSService.ts
  backend/packages/Upgrade/src/api/services/UserService.ts
  backend/packages/Upgrade/src/init/seed/systemUser.ts
  backend/packages/Upgrade/src/templates/email.ts
  backend/packages/Upgrade/test/integration/mockData/AWSServiceMock.ts
  backend/packages/Upgrade/test/unit/services/PreviewUserService.test.ts
  backend/packages/Upgrade/test/unit/services/UserService.test.ts
Labels: backend

#349 Import JSON validations for missing properties and backend version check
  backend/packages/Upgrade/src/api/controllers/VersionController.ts
  backend/packages/Upgrade/src/api/models/Experiment.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/database/migrations/1644480263704-addBackendVersion.ts
  backend/packages/Upgrade/src/types/ExperimentInput.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.model.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  frontend/projects/upgrade/src/environments/environment.ts
Labels: backend, frontend, types

#367 send 404 for user not defined
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentUserService.ts
  backend/packages/Upgrade/test/unit/middlewares/ErrorHandlerMiddleware.test.ts
Labels: backend

#369 Feature/213 autorefresh enrollment details page
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.actions.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.model.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selectors.ts
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.spec.ts
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/enrollment-over-time/enrollment-over-time.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/table-row/table-row.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/table-row/table-row.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.ts
  frontend/projects/upgrade/src/environments/environment.bsnl.ts
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
Labels: frontend, feature

#371 experiment ngrx specs plus interface/schema updates that were missing
  frontend/README.md
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiment.selectors.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.model.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.spec.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
Labels: frontend, feature

#373 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/user-story.md
Labels: cicd, feature

#374 spec with half of the experiment effects unit tested
  frontend/README.md
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.ts
Labels: frontend, feature
