Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-03, with the labels that each got.

#289 unit tests for controllers, errors, and middlewares
  backend/packages/Upgrade/jest.config.js
  backend/packages/Upgrade/package.json
  backend/packages/Upgrade/test/unit/controllers/CheckController.test.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentClientController.test.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentController.test.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentUserController.test.ts
  backend/packages/Upgrade/test/unit/controllers/FeatureFlagController.test.ts
  backend/packages/Upgrade/test/unit/controllers/LogController.test.ts
  backend/packages/Upgrade/test/unit/controllers/LoginController.test.ts
  backend/packages/Upgrade/test/unit/controllers/MetricController.test.ts
  backend/packages/Upgrade/test/unit/controllers/PreviewUserController.test.ts
  backend/packages/Upgrade/test/unit/controllers/QueryController.test.ts
  backend/packages/Upgrade/test/unit/controllers/ScheduledJobsController.test.ts
  backend/packages/Upgrade/test/unit/controllers/SettingController.test.ts
  backend/packages/Upgrade/test/unit/controllers/SupportToolController.test.ts
  backend/packages/Upgrade/test/unit/controllers/UserController.test.ts
  backend/packages/Upgrade/test/unit/controllers/VersionController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/AuditServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/CheckServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ErrorServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ExperimentServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ExperimentUserServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/FeatureFlagServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/MetricServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/PreviewUserServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/QueryServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ScheduledJobServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/SettingServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/SupportServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/UserServiceMock.ts
  backend/packages/Upgrade/test/unit/errors/ExperimentNotFoundError.test.ts
  backend/packages/Upgrade/test/unit/errors/NotFoundError.test.ts
  backend/packages/Upgrade/test/unit/errors/UserNotFoundError.test.ts
  backend/packages/Upgrade/test/unit/middlewares/ClientLibMiddleware.test.ts
  backend/packages/Upgrade/test/unit/middlewares/ErrorHandlerMiddleware.test.ts
  backend/packages/Upgrade/test/unit/middlewares/ScheduleJobMiddleware.test.ts
Labels: backend

#223 Fix/Issue 163 - Add URL and Client Source in headers
  clientlibs/js/src/common/fetchDataService.ts
Labels: small-pr, clientlibs-js

#253 Changing mispelled Schedular to Scheduler
  .github/pr-labeler-config.yml
  .github/workflows/create-release.yml
  .github/workflows/lambda-deploy-dev.yml
  .github/workflows/lambda-deploy.yml
  .github/workflows/lamdba-build.yml
  backend/.gitignore
  backend/package.json
  backend/packages/Scheduler/.gitignore
  backend/packages/Scheduler/input.json
  backend/packages/Scheduler/package-lock.json
  backend/packages/Scheduler/package.json
  backend/packages/Scheduler/serverless.yml
  backend/packages/Scheduler/src/schedule/index.ts
  backend/packages/Scheduler/tsconfig.json
  backend/packages/Scheduler/vscode/launch.json
  backend/packages/Scheduler/webpack.config.js
  backend/packages/Upgrade/.env.docker.local
  backend/packages/Upgrade/.env.example
  backend/packages/Upgrade/.env.test
  backend/packages/Upgrade/src/api/controllers/ExperimentController.ts
  backend/packages/Upgrade/src/api/services/AWSService.ts
  backend/packages/Upgrade/src/api/services/ScheduledJobService.ts
  backend/packages/Upgrade/src/env.ts
  backend/terraform/aws-cloudwatch-event/clould-watch-event-target.tf
  backend/terraform/aws-ebs-with-rds/secutiry-group.tf
  backend/terraform/aws-lambda/variables.tf
  backend/terraform/aws-step-fn/outputs.tf
  backend/terraform/aws-step-fn/step_function.tf
  backend/terraform/aws-step-fn/variables.tf
  backend/terraform/environments/bsnl/main.tf
Labels: backend, lambda, cicd

#235 Fix/Issue-234 Solved all typecheck errors
  backend/packages/Upgrade/test/integration/EndingCriteria/GroupAndParticipants.ts
  backend/packages/Upgrade/test/integration/Experiment/analytics/MonitoredPointForExport.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/Condition.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/Partition.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionalStateChange/GroupUserCount.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionalStateChange/IndividualUserCount.ts
  backend/packages/Upgrade/test/integration/Experiment/dataLog/CreateLog.ts
  backend/packages/Upgrade/test/integration/Experiment/enrollmentCode/ExperimentExperimentEnrollmentCode.ts
  backend/packages/Upgrade/test/integration/Experiment/experimentContext/ExperimentContextAssignments.ts
  backend/packages/Upgrade/test/integration/Experiment/incorrectGroup/IncorrectGroup.ts
  backend/packages/Upgrade/test/integration/Experiment/incorrectGroup/IncorrectWorkingGroup.ts
  backend/packages/Upgrade/test/integration/Experiment/incorrectGroup/NoGroup.ts
  backend/packages/Upgrade/test/integration/Experiment/incorrectGroup/NoWorkingGroup.ts
  backend/packages/Upgrade/test/integration/Experiment/markExperimentPoint/NoExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/onlyExperimentPoint/NoPartitionPoint.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/CompleteEndExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/CompleteStartExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/DeleteEndExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/DeleteStartExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/EndExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/StartExperiment.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/PreviewForcedAssigned.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/PreviewScenario1.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/PreviewScenario2.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/PreviewScenario3.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/PreviewScenario4.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/PreviewScenario5.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/RevertToCondition.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/RevertToDefault.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario1.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario10.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario2.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario3.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario4.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario5.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario6.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario8.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/Scenario9.ts
  backend/packages/Upgrade/test/integration/ExperimentStats/IndividualEnrollment.ts
  backend/packages/Upgrade/test/integration/ExperimentUser/NoExperimentUserOnAssignment.ts
  backend/packages/Upgrade/test/integration/ExperimentUser/index.ts
  backend/packages/Upgrade/test/integration/ExplicitExclude/GroupExclude.ts
  backend/packages/Upgrade/test/integration/PreviewExperiment/DeletePreviewAssignmentOnExperimentDelete.ts
  backend/packages/Upgrade/test/integration/PreviewExperiment/DeletePreviewAssignmentWithPreviewUserDelete.ts
  backend/packages/Upgrade/test/integration/PreviewExperiment/DeletePreviewAssignmentsWithExperimentUpdate.ts
  backend/packages/Upgrade/test/integration/PreviewExperiment/NoPreviewUser.ts
  backend/packages/Upgrade/test/integration/PreviewExperiment/PreviewAssignments.ts
  backend/packages/Upgrade/test/integration/PreviewExperiment/PreviewExperimentWithPreviewUser.ts
  backend/packages/Upgrade/test/integration/index.test.ts
  backend/packages/Upgrade/test/integration/mockData/metric/index.ts
  backend/packages/Upgrade/test/integration/utils/index.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentClientController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ExperimentServiceMock.ts
  backend/packages/Upgrade/tsconfig.json
Labels: backend

#221 Returning an empty object for experiment point/ID where user is getting 'default' condition.
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/test/integration/ExperimentStats/DetailIndividualExperiment.ts
  backend/packages/Upgrade/test/integration/utils/index.ts
Labels: backend, small-pr

#292 replica db removing slaves empty host
  backend/packages/Upgrade/src/loaders/typeormLoader.ts
Labels: backend, small-pr

#238 Fix/issue-164: adding session-id in logs and adding some logs
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentController.ts
  backend/packages/Upgrade/src/api/middlewares/LogMiddleware.ts
  backend/packages/Upgrade/src/api/services/AnalyticsService.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/app.ts
  backend/packages/Upgrade/src/auth/AuthService.ts
  backend/packages/Upgrade/src/auth/authorizationChecker.ts
  backend/packages/Upgrade/src/lib/banner.ts
  backend/packages/Upgrade/src/loaders/winstonLoader.ts
  backend/packages/Upgrade/test/integration/Experiment/analytics/MonitoredPointForExport.ts
  backend/packages/Upgrade/test/integration/Experiment/auditLogs/Main.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/Condition.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/Partition.ts
  backend/packages/Upgrade/test/integration/Experiment/dataLog/CreateLog.ts
  backend/packages/Upgrade/test/integration/Experiment/dataLog/LogOperations.ts
  backend/packages/Upgrade/test/integration/Experiment/dataLog/RepeatedMeasure.ts
  backend/packages/Upgrade/test/integration/Experiment/onlyExperimentPoint/NoPartitionPoint.ts
  backend/packages/Upgrade/test/integration/Experiment/query/QueryCRUD.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/CompleteEndExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/DeleteEndExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/scheduleJob/DeleteStartExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/update/UpdateExperiment.ts
  backend/packages/Upgrade/test/integration/PreviewExperiment/DeletePreviewAssignmentsWithExperimentUpdate.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ExperimentServiceMock.ts
Labels: backend

#296 Revert "Returning an empty object for experiment point/ID where user is getting 'default' condition."
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/test/integration/ExperimentStats/DetailIndividualExperiment.ts
  backend/packages/Upgrade/test/integration/utils/index.ts
Labels: backend, small-pr

#299 Fix typecheck errors
  backend/packages/Upgrade/test/unit/controllers/ExperimentClientController.test.ts
  backend/packages/Upgrade/test/unit/middlewares/ClientLibMiddleware.test.ts
  backend/packages/Upgrade/test/unit/middlewares/ErrorHandlerMiddleware.test.ts
  backend/packages/Upgrade/test/unit/middlewares/ScheduleJobMiddleware.test.ts
Labels: backend

#273 Fix/issue 247- Include/Exclude functionality at experiment level
  backend/packages/Upgrade/src/api/controllers/ExcludeController.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentExcludeController.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentIncludeController.ts
  backend/packages/Upgrade/src/api/models/Experiment.ts
  backend/packages/Upgrade/src/api/models/ExplicitExperimentGroupExclusion.ts
  backend/packages/Upgrade/src/api/models/ExplicitExperimentGroupInclusion.ts
  backend/packages/Upgrade/src/api/models/ExplicitExperimentIndividualExclusion.ts
  backend/packages/Upgrade/src/api/models/ExplicitExperimentIndividualInclusion.ts
  backend/packages/Upgrade/src/api/repositories/ExplicitExperimentGroupExclusionRepository.ts
  backend/packages/Upgrade/src/api/repositories/ExplicitExperimentGroupInclusionRepository.ts
  backend/packages/Upgrade/src/api/repositories/ExplicitExperimentIndividualExclusionRepository.ts
  backend/packages/Upgrade/src/api/repositories/ExplicitExperimentIndividualInclusionRepository.ts
  backend/packages/Upgrade/src/api/services/ErrorService.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentExcludeService.ts
  backend/packages/Upgrade/src/api/services/ExperimentIncludeService.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentUserService.ts
  backend/packages/Upgrade/src/api/services/SettingService.ts
  backend/packages/Upgrade/src/api/services/SupportService.ts
  backend/packages/Upgrade/src/database/migrations/1645620090266-experimentLevelInclusionAndExclusion.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/ExperimentIncludeAndExclude/experimentExcludeGroup.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/ExperimentIncludeAndExclude/experimentExcludeUser.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/ExperimentIncludeAndExclude/experimentIncludeGroup.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/ExperimentIncludeAndExclude/experimentIncludeUser.ts
  backend/packages/Upgrade/test/integration/ExperimentAssignment/ExperimentIncludeAndExclude/index.ts
  backend/packages/Upgrade/test/integration/index.test.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  frontend/projects/upgrade/src/environments/environment.bsnl.ts
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
  types/src/Experiment/enums.ts
  types/src/index.ts
Labels: backend, frontend, types

#302 Fix/issue 301
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.ts
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/middlewares/ClientLibMiddleware.ts
  backend/packages/Upgrade/src/api/middlewares/ScheduleJobMiddleware.ts
  backend/packages/Upgrade/src/api/repositories/ExperimentRepository.ts
  backend/packages/Upgrade/src/api/services/AnalyticsService.ts
  backend/packages/Upgrade/src/api/services/ErrorService.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentUserService.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/src/api/services/MetricService.ts
  backend/packages/Upgrade/src/api/services/ScheduledJobService.ts
  backend/packages/Upgrade/src/app.ts
  backend/packages/Upgrade/src/auth/AuthService.ts
  backend/packages/Upgrade/src/init/seed/initMetrics.ts
  backend/packages/Upgrade/test/utils/logger.ts
Labels: backend

#51 Fix/issue 23: Decimal condition assignment weights allowed with a checkbox to assign equal weights to all conditions
  backend/packages/Upgrade/src/api/models/ExperimentCondition.ts
  backend/packages/Upgrade/src/database/migrations/1620631946823-updateAssigmentWeightToDecimal.ts
  backend/packages/Upgrade/test/integration/Experiment/createWithDecimal/DecimalAssigmentWeight.ts
  backend/packages/Upgrade/test/integration/Experiment/createWithDecimal/index.ts
  backend/packages/Upgrade/test/integration/index.test.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/index.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  backend/packages/Upgrade/types/.gitignore
  backend/packages/Upgrade/types/.prettierrc
  backend/packages/Upgrade/types/README.md
  backend/packages/Upgrade/types/package-lock.json
  backend/packages/Upgrade/types/package.json
  backend/packages/Upgrade/types/src/Experiment/enums.ts
  backend/packages/Upgrade/types/src/Experiment/interfaces.ts
  backend/packages/Upgrade/types/src/index.ts
  backend/packages/Upgrade/types/tsconfig.json
  backend/packages/Upgrade/types/tslint.json
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/validators/experiment-form.validators.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  node_modules/.bin/husky
  node_modules/.bin/is-ci
  node_modules/.package-lock.json
  node_modules/ci-info/CHANGELOG.md
  node_modules/ci-info/LICENSE
  node_modules/ci-info/README.md
  node_modules/ci-info/index.d.ts
  node_modules/ci-info/index.js
  node_modules/ci-info/package.json
  node_modules/ci-info/vendors.json
  node_modules/husky/LICENSE
  node_modules/husky/README.md
  node_modules/husky/husky.sh
  node_modules/husky/lib/bin.d.ts
  node_modules/husky/lib/bin.js
  node_modules/husky/lib/index.d.ts
  node_modules/husky/lib/index.js
  node_modules/husky/package.json
  node_modules/is-ci/CHANGELOG.md
  node_modules/is-ci/LICENSE
  node_modules/is-ci/README.md
  node_modules/is-ci/bin.js
  node_modules/is-ci/index.js
  node_modules/is-ci/package.json
Labels: backend, frontend, types

#311 adds common mocks and some core unit tests
  frontend/projects/upgrade/src/app/app.component.spec.ts
  frontend/projects/upgrade/src/app/core/analysis/analysis.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/analysis/analysis.service.spec.ts
  frontend/projects/upgrade/src/app/core/auth/auth.service.spec.ts
Labels: frontend, feature

#313 adds global css to override tooltip/selection option truncation
  frontend/projects/upgrade/src/styles.scss
Labels: small-pr, frontend, bugfix

#318 added unit tests in some core services
  frontend/projects/upgrade/src/app/core/analysis/analysis.service.spec.ts
  frontend/projects/upgrade/src/app/core/auth/auth.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/auth/auth.guard.spec.ts
  frontend/projects/upgrade/src/app/core/auth/auth.service.spec.ts
  frontend/projects/upgrade/src/app/core/auth/negate.auth.guard.spec.ts
  frontend/projects/upgrade/src/app/core/error-handler/app-error-handler.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiment-users/experiment-users.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiment-users/experiment-users.service.spec.ts
Labels: frontend, feature

#319 Feature/add metric dropdown untruncate
  frontend/projects/upgrade/src/app/features/dashboard/home/components/create-query/create-query.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
Labels: frontend, feature

#321 fix for off metric data due to excluded users data pulled in
  backend/packages/Upgrade/src/api/repositories/LogRepository.ts
  backend/packages/Upgrade/test/integration/Experiment/dataLog/LogOperations.ts
  backend/packages/Upgrade/test/integration/Experiment/dataLog/RepeatedMeasure.ts
Labels: backend

#322 frontend unit tests
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/logs/logs.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/preview-users/preview-users.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/settings/settings.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/users/users.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/version/version.service.spec.ts
Labels: frontend, feature

#330 experiment service spec + a small change to clarify boolean type
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.spec.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
Labels: frontend, feature

#331 Feature/frontend uni tests
  frontend/projects/upgrade/src/app/core/error-handler/app-error-handler.service.spec.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-auth.interceptor.spec.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-error.interceptor.spec.ts
  frontend/projects/upgrade/src/app/core/logs/logs.service.spec.ts
Labels: frontend, feature

#334 remove condition selecting only index 0 for selectedPartitions
  frontend/projects/upgrade/src/app/features/dashboard/home/components/enrollment-over-time/enrollment-over-time.component.ts
Labels: small-pr, frontend, bugfix

#336 unit tests for half the services
  backend/packages/Upgrade/package-lock.json
  backend/packages/Upgrade/package-scripts.js
  backend/packages/Upgrade/package.json
  backend/packages/Upgrade/test/unit/controllers/ExcludeController.test.ts
  backend/packages/Upgrade/test/unit/services/AuditService.test.ts
  backend/packages/Upgrade/test/unit/services/CheckService.test.ts
  backend/packages/Upgrade/test/unit/services/ErrorService.test.ts
  backend/packages/Upgrade/test/unit/services/ExcludeServices.test.ts
  backend/packages/Upgrade/test/unit/services/PreviewUserService.test.ts
  backend/packages/Upgrade/test/unit/services/QueryService.test.ts
  backend/packages/Upgrade/test/unit/services/ScheduledJobService.test.ts
  backend/packages/Upgrade/test/unit/services/SettingService.test.ts
  backend/packages/Upgrade/test/unit/services/SupportService.test.ts
  backend/packages/Upgrade/test/unit/services/UserService.test.ts
Labels: backend

#337 modify unit test script
  backend/packages/Upgrade/README.md
  backend/packages/Upgrade/package-scripts.js
  backend/packages/Upgrade/package.json
Labels: backend, small-pr, feature
