Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-08, with the labels that each got.

#484 Refine the design step UI
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: frontend

#486 Refine the design step UI 2
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/styles/utility.scss
Labels: frontend, design

#493 Refine the participants step UI
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: frontend, design

#494 backend partition renaming in comments and locally scoped variable names
  backend/packages/Upgrade/src/api/models/DecisionPoint.ts
  backend/packages/Upgrade/src/api/models/Experiment.ts
  backend/packages/Upgrade/src/api/repositories/AnalyticsRepository.ts
  backend/packages/Upgrade/src/api/repositories/DecisionPointRepository.ts
  backend/packages/Upgrade/src/api/services/AnalyticsService.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/dataGenerator/index.ts
  backend/packages/Upgrade/src/database/seeds/Experiment.seed.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/Partition.ts
  backend/packages/Upgrade/test/integration/Experiment/createWithDecimal/DecimalAssigmentWeight.ts
  backend/packages/Upgrade/test/integration/Experiment/onlyExperimentPoint/NoPartitionPoint.ts
  backend/packages/Upgrade/test/integration/Experiment/update/UpdateExperiment.ts
  backend/packages/Upgrade/test/integration/PreviewExperiment/DeletePreviewAssignmentsWithExperimentUpdate.ts
  backend/packages/Upgrade/test/integration/index.test.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  backend/packages/Upgrade/test/unit/repositories/AnalyticsRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/DecisionPointRepository.test.ts
Labels: backend, feature

#501 Disable autocomplete suggestions in the experiment stepper
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.html
Labels: small-pr, frontend, design

#498 Remove default rows in the experiment stepper
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.ts
Labels: small-pr, frontend, design

#492 disable weights sum check on equalweight checkbox selection
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/validators/experiment-form.validators.ts
Labels: small-pr, frontend, bugfix

#496 refactor for clickable row instead of title text
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-list/experiment-list.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-list/experiment-list.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/segments-list.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/segments-list.component.scss
Labels: frontend, feature

#503 Refine the Metrics step UI
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.ts
Labels: frontend, design

#506 Refine the Overview step UI
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-post-condition/experiment-post-condition.component.html
Labels: small-pr, frontend, design

#504 updated imports that were not using upgrade_types alias
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  backend/packages/Upgrade/test/unit/repositories/AnalyticsRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ErrorRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentAuditLogRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/LogRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/UserRepository.test.ts
  backend/packages/Upgrade/test/unit/services/AuditService.test.ts
  backend/packages/Upgrade/test/unit/services/ErrorService.test.ts
  backend/packages/Upgrade/test/unit/services/ScheduledJobService.test.ts
  backend/packages/Upgrade/test/unit/services/UserService.test.ts
  frontend/projects/upgrade/src/app/core/auth/auth.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selector.spec.ts
  frontend/projects/upgrade/src/app/core/segments/segments.service.spec.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.effects.spec.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.reducer.spec.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.selectors.spec.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/export-experiment/export-experiment.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segment-overview/segment-overview.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/CustomMatTableSource.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/view-segment/view-segment.component.ts
  types/src/index.ts
Labels: backend, frontend, types, feature

#471 Adding Simple Export
  backend/packages/Upgrade/package-lock.json
  backend/packages/Upgrade/package.json
  backend/packages/Upgrade/src/api/models/User.ts
  backend/packages/Upgrade/src/api/repositories/AnalyticsRepository.ts
  backend/packages/Upgrade/src/api/repositories/LogRepository.ts
  backend/packages/Upgrade/src/api/repositories/UserRepository.ts
  backend/packages/Upgrade/src/api/services/AnalyticsService.ts
  backend/packages/Upgrade/src/database/migrations/1660214866240-userTimeZone.ts
  backend/packages/Upgrade/test/unit/repositories/UserRepository.test.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.spec.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.ts
  frontend/projects/upgrade/src/app/core/users/store/users.model.ts
Labels: backend, frontend

#510 remove json-editor deps and manual add-metrics feature from profile
  frontend/package-lock.json
  frontend/package.json
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/add-metrics/add-metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/add-metrics/add-metrics.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/add-metrics/add-metrics.component.spec.ts
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/add-metrics/add-metrics.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/modals/add-metrics/add-metrics.theme.scss
  frontend/projects/upgrade/src/app/features/dashboard/profile/profile.module.ts
  frontend/projects/upgrade/src/styles.scss
Labels: frontend, feature

#511 adds options to experiment with making jest faster, ignore skipped te…
  frontend/jest.config.js
  frontend/package.json
Labels: small-pr, frontend, feature

#516 hide feature-flag feature for now
  frontend/projects/upgrade/src/app/features/dashboard/dashboard-root/dashboard-root.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/dashboard-routing.module.ts
Labels: small-pr, frontend, feature

#519 clean command for uninstalling, updating, and reinistalling node
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, feature

#515 update to node16
  backend/buildspec.yml
  backend/packages/Scheduler/serverless.yml
  backend/terraform/aws-lambda/variables.tf
  backend/terraform/environments/bsnl/main.tf
  backend/terraform/environments/production/main.tf
  backend/terraform/environments/staging/main.tf
  frontend/buildspec.yml
Labels: small-pr, lambda, frontend

#507 Adding status and removing failedExperimentPoint from clientlib
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.ts
  backend/packages/Upgrade/src/api/controllers/validators/MarkExperimentValidator.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/database/migrations/1661429767642-clientExclusionCode.ts
  backend/packages/Upgrade/test/integration/UserNotDefined/index.ts
  backend/packages/Upgrade/test/integration/utils/index.ts
  clientlibs/js/package.json
  clientlibs/js/src/UpgradeClient.ts
  clientlibs/js/src/functions/failedExperimentPoint.ts
  clientlibs/js/src/functions/markExperimentPoint.ts
  types/src/Experiment/enums.ts
  types/src/index.ts
Labels: backend, clientlibs-js, types, bugfix

#518 Bugfix/consistent import export
  backend/packages/Upgrade/src/api/controllers/ExperimentController.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/api/services/SegmentService.ts
  backend/packages/Upgrade/test/integration/Segment/SegmentMemberGroupEnrollment.ts
  backend/packages/Upgrade/test/integration/Segment/SegmentMemberUserEnrollment.ts
  backend/packages/Upgrade/test/integration/Segment/SubSegmentEnrollment.ts
  backend/packages/Upgrade/test/integration/index.test.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  backend/packages/Upgrade/test/integration/mockData/segment/index.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/modal/import-segment/import-segment.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: backend, frontend, bugfix

#521 Fix for creating experiment and adding segments after consistent import-export PR
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
Labels: backend, frontend, bugfix
