Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-11, with the labels that each got.

#595 Feature/eslint js lib
  .husky/pre-commit
  clientlibs/js/.eslintignore
  clientlibs/js/.eslintrc.js
  clientlibs/js/.prettierignore
  clientlibs/js/.prettierrc
  clientlibs/js/jest.config.ts
  clientlibs/js/package-lock.json
  clientlibs/js/package.json
  clientlibs/js/src/UpgradeClient.spec.ts
  clientlibs/js/src/UpgradeClient.ts
  clientlibs/js/src/common/convertMapToObj.ts
  clientlibs/js/src/common/fetchDataService.ts
  clientlibs/js/src/functions/addMetrics.ts
  clientlibs/js/src/functions/getAllExperimentConditions.ts
  clientlibs/js/src/functions/getAllfeatureFlags.ts
  clientlibs/js/src/functions/getFeatureFlag.ts
  clientlibs/js/src/functions/init.ts
  clientlibs/js/src/functions/log.ts
  clientlibs/js/src/functions/markExperimentPoint.ts
  clientlibs/js/src/functions/setAltUserIds.ts
  clientlibs/js/src/functions/setGroupMembership.ts
  clientlibs/js/src/functions/setWorkingGroup.ts
  clientlibs/js/src/identifiers/Interfaces.ts
  clientlibs/js/src/identifiers/enums.ts
  clientlibs/js/src/identifiers/index.ts
  clientlibs/js/src/index.ts
  clientlibs/js/tsconfig.json
  clientlibs/js/tslint.json
  clientlibs/js/webpack.config.ts
Labels: clientlibs-js, feature

#598 somewhere in linting changes, "?." operators were removed
  frontend/.eslintrc.js
  frontend/projects/upgrade/src/app/core/experiments/experiment-utility.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/aliases-table/aliases-table.component.ts
Labels: small-pr, frontend, feature

#599 return null-coalescing operators
  clientlibs/js/src/UpgradeClient.ts
Labels: small-pr, clientlibs-js, feature

#600 Feature/linting root level
  .eslintrc.js
  .husky/pre-commit
  .prettierignore
  .prettierrc
  clientlibs/js/.eslintignore
  clientlibs/js/.eslintrc.js
  clientlibs/js/.prettierignore
  clientlibs/js/.prettierrc
  clientlibs/js/package-lock.json
  clientlibs/js/package.json
  clientlibs/js/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.eslint.json
  package-lock.json
  package.json
  tsconfig.root.json
Labels: frontend, clientlibs-js, feature

#560 Detail-Page-Tab-View
  backend/packages/Upgrade/src/config.json
  frontend/projects/upgrade/src/app/features/dashboard/home/components/enrollment-condition-table/enrollment-condition-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/enrollment-over-time/enrollment-over-time.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/enrollment-over-time/enrollment-over-time.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-query-result/experiment-query-result.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-query-result/experiment-query-result.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: backend, frontend

#592 speed-bump when click on close while edit or create experiment
  frontend/projects/upgrade/src/app/core/experiments/experiment-design-stepper.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.actions.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.model.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.reducer.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.selectors.ts
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.spec.ts
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-post-condition/experiment-post-condition.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-post-condition/experiment-post-condition.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-query-result/experiment-query-result.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-schedule/experiment-schedule.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-schedule/experiment-schedule.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/new-experiment/new-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/new-experiment/new-experiment.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.scss
  frontend/projects/upgrade/src/app/shared/components/mat-confirm-dialog/mat-confirm-dialog.component.html
  frontend/projects/upgrade/src/app/shared/components/mat-confirm-dialog/mat-confirm-dialog.component.scss
  frontend/projects/upgrade/src/app/shared/components/mat-confirm-dialog/mat-confirm-dialog.component.ts
  frontend/projects/upgrade/src/app/shared/services/dialog.service.ts
  frontend/projects/upgrade/src/app/shared/shared.module.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  package.json
Labels: frontend

#631 Add selectors for the tabs in the experiment details page
  frontend/projects/upgrade/src/assets/js/demo-app.js
Labels: small-pr, frontend
