Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-12, with the labels that each got.

#640 test
  frontend/README.md
Labels: small-pr, frontend

#641 resolve eslint build errors on backend
  backend/packages/Upgrade/package-scripts.js
Labels: backend, bugfix

#648 linted tests
  backend/packages/Upgrade/test/unit/middlewares/ClientLibMiddleware.test.ts
  backend/packages/Upgrade/test/unit/middlewares/ErrorHandlerMiddleware.test.ts
  backend/packages/Upgrade/test/unit/middlewares/ScheduleJobMiddleware.test.ts
  backend/packages/Upgrade/test/unit/repositories/AnalyticsRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/DecisionPointRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ErrorRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentAuditLogRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentConditionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentSegmentExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentSegmentInclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentUserRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/FeatureFlagRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/FlagVariationRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/GroupEnrollmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/GroupExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/GroupForSegmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/IndividualEnrollmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/IndividualExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/IndividualForSegmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/LogRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/MetricRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/MonitoredDecisionPointRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/PreviewUserRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/QueryRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ScheduledJobRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/SegmentRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/UserRepository.test.ts
  backend/packages/Upgrade/test/unit/services/AuditService.test.ts
  backend/packages/Upgrade/test/unit/services/ErrorService.test.ts
  backend/packages/Upgrade/test/unit/services/MetricService.test.ts
  backend/packages/Upgrade/test/unit/services/PreviewUserService.test.ts
  backend/packages/Upgrade/test/unit/services/QueryService.test.ts
  backend/packages/Upgrade/test/unit/services/ScheduledJobService.test.ts
  backend/packages/Upgrade/test/unit/services/SettingService.test.ts
  backend/packages/Upgrade/test/unit/services/UserService.test.ts
Labels: backend

#649 Set the imported experiment's status to inactive
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
Labels: backend, small-pr

#651 fix for repeated metric stats display on adding metrics from api calls
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.ts
Labels: small-pr, frontend

#658 Don't fetch enviroment.json when environment.prod.ts is used
  frontend/projects/upgrade/src/app/app.module.ts
Labels: small-pr, frontend, bugfix

#659 Rename Defined Metrics to Metrics in the details page
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.html
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: small-pr, frontend, design
