Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2022-10, with the labels that each got.

#561 Fix/issue 31: Allowing shared decision points for Competing Experiments (With Pools)
  backend/packages/Upgrade/patch/AlternateConditionFunctions.ts
  backend/packages/Upgrade/patch/alternateConditions.json
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.ts
  backend/packages/Upgrade/src/api/controllers/validators/MarkExperimentValidator.ts
  backend/packages/Upgrade/src/api/models/DecisionPoint.ts
  backend/packages/Upgrade/src/api/models/Experiment.ts
  backend/packages/Upgrade/src/api/models/ExperimentCondition.ts
  backend/packages/Upgrade/src/api/models/MonitoredDecisionPoint.ts
  backend/packages/Upgrade/src/api/repositories/AnalyticsRepository.ts
  backend/packages/Upgrade/src/api/repositories/DecisionPointRepository.ts
  backend/packages/Upgrade/src/api/repositories/IndividualEnrollmentRepository.ts
  backend/packages/Upgrade/src/api/repositories/MonitoredDecisionPointRepository.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/database/migrations/1662986488045-multipleDecisionPointUpdates.ts
  backend/packages/Upgrade/src/database/migrations/1665047953705-addExperimentType.ts
  backend/packages/Upgrade/test/integration/Experiment/competingExperiment/CompetingExperimentPools.ts
  backend/packages/Upgrade/test/integration/Experiment/competingExperiment/index.ts
  backend/packages/Upgrade/test/integration/Experiment/conditionAndPartition/ConditionAliases.ts
  backend/packages/Upgrade/test/integration/Experiment/createWithDecimal/DecimalAssigmentWeight.ts
  backend/packages/Upgrade/test/integration/Experiment/markExperimentPoint/NoExperiment.ts
  backend/packages/Upgrade/test/integration/Experiment/onlyExperimentPoint/NoPartitionPoint.ts
  backend/packages/Upgrade/test/integration/Experiment/update/UpdateExperiment.ts
  backend/packages/Upgrade/test/integration/index.test.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/index.ts
  backend/packages/Upgrade/test/integration/mockData/experiment/raw.ts
  backend/packages/Upgrade/test/integration/utils/index.ts
  backend/packages/Upgrade/test/unit/repositories/MonitoredDecisionPointRepository.test.ts
  clientlibs/js/src/UpgradeClient.ts
  clientlibs/js/src/common/fetchDataService.ts
  clientlibs/js/src/functions/markExperimentPoint.ts
  clientlibs/js/src/identifiers/Interfaces.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/aliases-table/aliases-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  types/src/Experiment/enums.ts
  types/src/Experiment/interfaces.ts
  types/src/index.ts
Labels: backend, frontend, clientlibs-js, types

#564 major version bump
  package.json
Labels: small-pr, feature

#567 change decision point to experiment point
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
Labels: backend, small-pr

#572 Fix/issue-571 Make assign call little faster
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.ts
  backend/packages/Upgrade/src/api/repositories/ExperimentRepository.ts
  backend/packages/Upgrade/src/api/services/CacheService.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentRepository.test.ts
Labels: backend

#574 swap order of code blocks to prevent a null error when user is undefined
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
Labels: backend, small-pr, bugfix

#573 fix for users not excluded reached prior to experiment state changed to enrolling
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
Labels: backend

#577 remove consistency.experiment option from UI and frontend specs
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.ts
Labels: small-pr, frontend, feature

#578 Fix UI bug for dark mode
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/new-experiment/new-experiment.theme.scss
  frontend/projects/upgrade/src/styles/shared-modal.scss
Labels: small-pr, frontend, design

#584 Fix/issue-575: Handling no experimentId in mark api call
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
Labels: backend, small-pr

#580 Fix/issue 359 - Batch import & export experiments
  backend/packages/Upgrade/src/api/controllers/ExperimentController.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentController.test.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.data.service.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/experiments.service.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.actions.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.spec.ts
  frontend/projects/upgrade/src/app/core/experiments/store/experiments.effects.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-list/experiment-list.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-list/experiment-list.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-list/experiment-list.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/export-experiment/export-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/export-experiment/export-experiment.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/pages/view-experiment/view-experiment.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: backend, frontend
