Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2023-01, with the labels that each got.

#647 delete unused explicit exclude apis
  backend/packages/Upgrade/src/api/controllers/ExcludeController.ts
  backend/packages/Upgrade/src/api/models/ExplicitGroupExclusion.ts
  backend/packages/Upgrade/src/api/models/ExplicitIndividualExclusion.ts
  backend/packages/Upgrade/src/api/repositories/ExplicitGroupExclusionRepository.ts
  backend/packages/Upgrade/src/api/repositories/ExplicitIndividualExclusionRepository.ts
  backend/packages/Upgrade/src/api/services/ExcludeService.ts
  backend/packages/Upgrade/test/unit/controllers/ExcludeController.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitGroupExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/repositories/ExplicitIndividualExclusionRepository.test.ts
  backend/packages/Upgrade/test/unit/services/ExcludeServices.test.ts
Labels: backend

#678 Update selectors used for the demo app
  frontend/projects/upgrade/src/assets/js/demo-app.js
Labels: frontend

#681 Rename the names of the buttons from Update to Save
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-post-condition/experiment-post-condition.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-schedule/experiment-schedule.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-end-criteria/experiment-end-criteria.component.html
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/post-experiment-rule/post-experiment-rule.component.html
Labels: small-pr, frontend
