Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2023-12, with the labels that each got.

#1150 🐞 Allow multiple contexts for duplicate segments and make mat-chip rounded
  backend/packages/Upgrade/src/api/services/SegmentService.ts
  backend/packages/Upgrade/test/unit/services/SegmentService.test.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/segments-list.component.html
Labels: bug, backend, frontend

#1191 ✨ Enhancement/code cleanup faker scripts
  backend/packages/Upgrade/package-lock.json
  backend/packages/Upgrade/package.json
  backend/packages/Upgrade/src/dataGenerator/index.ts
Labels: code cleanup

#1194 :arrow_up: 1133 upgrade
  backend/commands/dockerrun.ts
  backend/packages/Upgrade/.env.test
  backend/packages/Upgrade/commands/banner.mts
  backend/packages/Upgrade/nodemon.json
  backend/packages/Upgrade/package-lock.json
  backend/packages/Upgrade/package-scripts.js
  backend/packages/Upgrade/package.json
  backend/packages/Upgrade/src/env.ts
  backend/tsconfig.json
Labels: dependencies, backend

#1176 📝 Readme enhancement
  CONTRIBUTORS.md
  README.md
  assets/feature-flag.png
  assets/upgrade-logo-name.png
  assets/upgrade-logo.png
  assets/upgradeapp-dashboard.png
Labels: documentation, enhancement
