Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2023-11, with the labels that each got.

#1127 🐛 Fix for archive state not working in QA testing #30
  backend/packages/Upgrade/src/api/services/QueryService.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-status/experiment-status.component.ts
Labels: small-pr, bugfix

#1126 Clear previously uploaded files when importing an experiment
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/import-experiment/import-experiment.component.ts
Labels: small-pr, frontend, bugfix

#1110 Hotfix: Optimize findAllExperiments Query #1108
  backend/packages/Upgrade/src/api/repositories/ExperimentRepository.ts
  backend/packages/Upgrade/test/unit/repositories/ExperimentRepository.test.ts
Labels: latency improvement

#1131 Enable the archivedStatusAgreement for non-Archived statuses
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-status/experiment-status.component.ts
Labels: small-pr, frontend, bugfix

#1129 Fix QueryFailedError when sorting experiments by status
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
Labels: backend, small-pr, bugfix

#1102 ⚡ [Latency Improvement] Excluding enrollmentComplete experiment with default as post exp rule #909
  backend/packages/Upgrade/src/api/repositories/ExperimentRepository.ts
  backend/packages/Upgrade/test/unit/services/ExperimentAssignmentService.test.ts
Labels: epic: production issues, latency improvement
