Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2024-10, with the labels that each got.

#2000 Allow Context Chip Click and Search on Metrics Table
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.component.ts
Labels: frontend, bugfix

#2001 🐞 Bugfix: Init api call with stricter validation at api level to avoid userid in request body
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v6.ts
Labels: bugfix, release 6.0

#2005 Fix Feature Flags Root Table to Apply Sorting State from Local Storage
  frontend/projects/upgrade/src/app/core/local-storage/local-storage.service.ts
Labels: small-pr, bugfix

#1968 #1341 update java client library feature flag methods
  .gitignore
  clientlibs/java/src/main/java/org/upgradeplatform/client/ExperimentClient.java
  clientlibs/java/src/main/java/org/upgradeplatform/client/Main.java
  clientlibs/java/src/main/java/org/upgradeplatform/requestbeans/ExperimentRequest.java
  clientlibs/java/src/main/java/org/upgradeplatform/requestbeans/ExperimentUser.java
  clientlibs/java/src/main/java/org/upgradeplatform/requestbeans/InitializeUser.java
  clientlibs/java/src/main/java/org/upgradeplatform/requestbeans/LogRequest.java
  clientlibs/java/src/main/java/org/upgradeplatform/requestbeans/MarkExperimentRequest.java
  clientlibs/java/src/main/java/org/upgradeplatform/requestbeans/UserAlias.java
  clientlibs/java/src/main/java/org/upgradeplatform/responsebeans/ExperimentUserResponse.java
  clientlibs/java/src/main/java/org/upgradeplatform/responsebeans/FeatureFlag.java
  clientlibs/java/src/main/java/org/upgradeplatform/responsebeans/InitializeUserResponse.java
  clientlibs/java/src/main/java/org/upgradeplatform/responsebeans/LogEventResponse.java
  clientlibs/java/src/main/java/org/upgradeplatform/utils/APIService.java
  clientlibs/java/src/main/java/org/upgradeplatform/utils/Utils.java
Labels: release 6.0

#2010 Disallow Importing Stratification Factors for Users with the 'Reader' Role
  frontend/projects/upgrade/src/app/core/auth/auth.service.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.models.ts
  frontend/projects/upgrade/src/app/features/dashboard/experiment-users/components/stratification-factor-list/stratification-factor-list.component.html
  frontend/projects/upgrade/src/app/features/dashboard/experiment-users/components/stratification-factor-list/stratification-factor-list.component.ts
Labels: frontend, bugfix

#2002 Disallow Adding, Importing, Editing, and Deleting a Feature Flag for Users with the 'Reader' Role
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-table/feature-flag-exclusions-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-table/feature-flag-exclusions-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-table/feature-flag-inclusions-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-table/feature-flag-inclusions-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-action-buttons/common-section-card-action-buttons.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-action-buttons/common-section-card-action-buttons.component.ts
Labels: frontend, bugfix, epic: feature flags

#2020 use wheel for scroll
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags-legacy/feature-flags-root/feature-flags-root.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.ts
Labels: release 6.0

#2024 Make the Feature Flags Root Section Card Scrollable
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.scss
Labels: frontend, design, epic: feature flags

#2025 Update Delete Feature Flag Modal Padding
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/delete-feature-flag-modal/delete-feature-flag-modal.component.scss
Labels: small-pr, design

#2026 Refine Feature Flags Root Table Pagination on Scroll
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.ts
Labels: frontend, design

#2031 (Release) Apply filterMode (includeAll) to an imported Feature Flag
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
Labels: backend, small-pr, bugfix

#2032 (Release) Refine Disabled Slide Toggles and Action Buttons on 'Reader' mode
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-action-buttons/common-section-card-action-buttons.component.scss
  frontend/projects/upgrade/src/styles.scss
Labels: frontend, design, epic: feature flags

#2034 Bugfix/fixing paginated query 2018
  .github/workflows/create-release.yml
  backend/package.json
  backend/packages/Scheduler/package.json
  backend/packages/Upgrade/package.json
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  clientlibs/java/pom.xml
  clientlibs/js/package.json
  frontend/package.json
  package.json
  types/package.json
Labels: bugfix, epic: feature flags

#2040 (Release) Fix Not-Allowed Cursor Appearing on Enabled Slide Toggles
  backend/package-lock.json
  backend/package.json
  backend/packages/Scheduler/package-lock.json
  backend/packages/Scheduler/package.json
  backend/packages/Upgrade/package-lock.json
  backend/packages/Upgrade/package.json
  clientlibs/java/pom.xml
  clientlibs/js/package-lock.json
  clientlibs/js/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-action-buttons/common-section-card-action-buttons.component.scss
  frontend/projects/upgrade/src/styles.scss
  package-lock.json
  package.json
  types/package-lock.json
  types/package.json
Labels: bugfix, design, release 6.0

#2053 Removing redundant class validators @IsDefined() and @IsString()
  backend/packages/Upgrade/src/api/controllers/validators/AssignmentStateUpdateValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/CaliperLogData.ts
  backend/packages/Upgrade/src/api/controllers/validators/CaliperLogEnvelope.ts
  backend/packages/Upgrade/src/api/controllers/validators/DataExportValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/DataLogAnalysisValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/ExperimentAssignmentValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/ExperimentIdsValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/ExperimentPaginatedParamsValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/ExperimentUserAliasesValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FailedParamsValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagImportValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagListValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagStatusUpdateValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagsPaginatedParamsValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/LogValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/MarkExperimentValidator.v5.ts
  backend/packages/Upgrade/src/api/controllers/validators/MarkExperimentValidator.v6.ts
  backend/packages/Upgrade/src/api/controllers/validators/PaginatedParamsValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/ScheduledJobsParamsValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/SegmentInputValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/SupportGetAssignmentParamsValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/UserPaginatedParamsValidator.ts
  backend/packages/Upgrade/src/api/models/ExperimentUser.ts
  backend/packages/Upgrade/src/api/models/PreviewUser.ts
Labels: backend, bugfix

#2052 Update TypeDoc entryPoints
  clientlibs/js/.gitignore
  clientlibs/js/docs/.nojekyll
  clientlibs/js/docs/README.md
  clientlibs/js/docs/classes/UpgradeClient.UpgradeClient.md
  clientlibs/js/docs/classes/functions_getExperimentCondition.Assignment.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IConfig.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IExperimentUser.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IExperimentUserAliases.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IFailedExperimentPoint.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.ILog.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IMarkExperimentPoint.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IMetric.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IRequestOptions.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IResponse.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IUser.md
  clientlibs/js/docs/interfaces/identifiers_Interfaces.Interfaces.IUserGroup.md
  clientlibs/js/docs/modules.md
  clientlibs/js/docs/modules/UpgradeClient.md
  clientlibs/js/docs/modules/functions_getExperimentCondition.md
  clientlibs/js/docs/modules/identifiers.md
  clientlibs/js/docs/modules/identifiers_Interfaces.Interfaces.md
  clientlibs/js/docs/modules/identifiers_Interfaces.md
  clientlibs/js/typedoc.json
Labels: bugfix

#2061 Enhancement: replace @CurrentUser user type with userDTO
  backend/packages/Upgrade/src/api/DTO/UserDTO.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentController.ts
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/controllers/LoginController.ts
  backend/packages/Upgrade/src/api/controllers/UserController.ts
  backend/packages/Upgrade/src/api/repositories/ExperimentAuditLogRepository.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/src/api/services/UserService.ts
  backend/packages/Upgrade/test/integration/Experiment/stratification/RandomAlgoCheck.ts
  backend/packages/Upgrade/test/integration/Experiment/stratification/SRSAlgorithmCheck.ts
Labels: enhancement

#2072 Bugfix: ExperimentDTO return type changed to Experiment Type
  backend/packages/Upgrade/src/api/controllers/ExperimentController.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
Labels: enhancement

#2065 hotfix to throw http 404 error for api calls other than init for new users
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v5.ts
  backend/packages/Upgrade/src/api/middlewares/UserCheckMiddleware.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/ExperimentUserService.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/test/integration/ExperimentUser/NoExperimentUserOnAssignment.ts
  backend/packages/Upgrade/test/integration/UserNotDefined/index.ts
  backend/packages/Upgrade/test/unit/services/ExperimentAssignmentService.test.ts
Labels: backend, bugfix
