Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2024-06, with the labels that each got.

#1605 Feature/common modal and add ff modal
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.actions.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-design/experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-overview/experiment-overview.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-participants/experiment-participants.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-post-condition/experiment-post-condition.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-schedule/experiment-schedule.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/factorial-experiment-design/factorial-experiment-design.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/metrics/metrics.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal-config.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal.component.spec.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/index.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/app/shared/services/common-form-helpers.service.ts
  frontend/projects/upgrade/src/app/shared/services/dialog.service.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: epic: feature flags

#1638 add chip and date format in root table
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.ts
Labels: epic: feature flags

#1627 Bugfix/re throw error in http intercepter
  frontend/projects/upgrade/src/app/core/http-interceptors/http-error.interceptor.spec.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-error.interceptor.ts
Labels: epic: feature flags

#1647 fetch context metadata when add feature flag modal load
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.ts
Labels: bug

#1644 feature flag delete functionality
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.actions.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/delete-feature-flag-modal/delete-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/delete-feature-flag-modal/delete-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/delete-feature-flag-modal/delete-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal.component.scss
  frontend/projects/upgrade/src/app/shared/components/delete/delete.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: epic: feature flags

#1585 ClientLib changes for featureFlags to getKeys
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v1.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v4.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v5.ts
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagValidator.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagRepository.ts
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentClientController.test.ts
  backend/packages/Upgrade/test/unit/controllers/FeatureFlagController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/FeatureFlagServiceMock.ts
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
  clientlibs/js/src/ApiService/ApiService.ts
  clientlibs/js/src/DataService/DataService.spec.ts
  clientlibs/js/src/DataService/DataService.ts
  clientlibs/js/src/UpGradeClient/UpgradeClient.ts
  clientlibs/js/src/types/requests.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/modal/experiment-status/experiment-status.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-list/common-section-card-list.component.html
  types/src/Experiment/interfaces.ts
Labels: epic: feature flags

#1642 Feature/confirm enable modal
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.actions.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/delete-feature-flag-modal/delete-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/delete-feature-flag-modal/delete-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/disable-feature-flag-modal/disable-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/disable-feature-flag-modal/disable-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/disable-feature-flag-modal/disable-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/enable-feature-flag-modal/enable-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/enable-feature-flag-modal/enable-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/enable-feature-flag-modal/enable-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-action-buttons/common-section-card-action-buttons.component.spec.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-action-buttons/common-section-card-action-buttons.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
Labels: epic: feature flags

#1582 Feature Flag backend completion
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagValidator.ts
  backend/packages/Upgrade/test/integration/FeatureFlags/FeatureFlagInclusionExclusion.ts
  backend/packages/Upgrade/test/integration/FeatureFlags/index.ts
  backend/packages/Upgrade/test/integration/index.test.ts
  backend/packages/Upgrade/test/integration/mockData/featureFlag/index.ts
Labels: epic: feature flags

#1643 Common tag input component
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/add-feature-flag-modal/add-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/delete-feature-flag-modal/delete-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tag-input/common-tag-input.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tag-input/common-tag-input.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tag-input/common-tag-input.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/index.ts
Labels: epic: feature flags

#1572 Splitting updated export CSV data query for latency optimization and removing excluded user data
  backend/packages/Upgrade/src/api/models/MonitoredDecisionPoint.ts
  backend/packages/Upgrade/src/api/models/MonitoredDecisionPointLog.ts
  backend/packages/Upgrade/src/api/repositories/AnalyticsRepository.ts
  backend/packages/Upgrade/src/api/repositories/ExperimentRepository.ts
  backend/packages/Upgrade/src/api/repositories/LogRepository.ts
  backend/packages/Upgrade/src/api/services/AnalyticsService.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/database/migrations/1718377498760-monitoredIndexesForExport.ts
Labels: code improvements, latency improvement

#1654 change enable modal to toggle between enable and disable
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.actions.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/disable-feature-flag-modal/disable-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/disable-feature-flag-modal/disable-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/enable-feature-flag-modal/enable-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/enable-feature-flag-modal/enable-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/update-flag-status-confirmation-modal/update-flag-status-confirmation-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/update-flag-status-confirmation-modal/update-flag-status-confirmation-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/update-flag-status-confirmation-modal/update-flag-status-confirmation-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
Labels: epic: feature flags

#1670 Feature/details participant list tables
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-section-card.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-table/feature-flag-exclusions-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-table/feature-flag-exclusions-table.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-table/feature-flag-exclusions-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-table/feature-flag-inclusions-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-table/feature-flag-inclusions-table.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-table/feature-flag-inclusions-table.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-page-header/common-details-page-header.spec.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  types/src/Experiment/enums.ts
Labels: epic: feature flags
