Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2024-09, with the labels that each got.

#1886 feature flag audit logs backend changes
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/src/database/migrations/1725007254170-feature-flag-audit-logs.ts
  backend/packages/Upgrade/test/integration/FeatureFlags/FeatureFlagInclusionExclusion.ts
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
  types/src/Experiment/enums.ts
  types/src/Experiment/interfaces.ts
  types/src/index.ts
Labels: epic: feature flags, release 6.0

#1565 Refactor webpack configuration to improve library exports
  clientlibs/js/src/index.ts
  clientlibs/js/webpack.config.ts
Labels: release 6.0

#1798 Import feature flag validation API and related UI changes, validation table
  backend/packages/Upgrade/src/api/DTO/ExperimentDTO.ts
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagImportValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagListValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagsPaginatedParamsValidator.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagSegmentExclusionRepository.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagSegmentInclusionRepository.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/src/database/migrations/1725019990592-typeorm-featureflag-primarycolumn-updates.ts
  backend/packages/Upgrade/test/integration/FeatureFlags/FeatureFlagInclusionExclusion.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/FeatureFlagServiceMock.ts
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.actions.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.model.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/delete-feature-flag-modal/delete-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/import-feature-flag-modal/import-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/import-feature-flag-modal/import-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/import-feature-flag-modal/import-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-modal/upsert-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/modal/import-segment/import-segment.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-status-indicator-chip/common-status-indicator-chip.component.scss
  frontend/projects/upgrade/src/assets/i18n/en.json
  frontend/projects/upgrade/src/environments/environment-types.ts
  frontend/projects/upgrade/src/environments/environment.bsnl.ts
  frontend/projects/upgrade/src/environments/environment.demo.prod.ts
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
  types/src/Experiment/enums.ts
  types/src/Experiment/interfaces.ts
  types/src/index.ts
Labels: epic: feature flags, release 6.0

#1907 Display a warning icon when no enabled include lists defined 2
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.html
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: epic: feature flags, release 6.0

#1913 fix typo that broke exclusion list delete
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
Labels: small-pr, epic: feature flags, release 6.0

#1911 Fix undefined segment errors in Feature Flag Inclusion and Exclusion selectors
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
Labels: frontend, epic: feature flags, release 6.0

#1906 Display 'No matching feature flags found' message when no flags found from search
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: enhancement, epic: feature flags, release 6.0

#1927 Support capital letters for user-entered values/tags
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tag-input/common-tag-input.component.ts
Labels: small-pr, frontend, epic: feature flags, release 6.0

#1956 filter flags by tags on feature flag root table
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/home/components/experiment-list/experiment-list.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-overview-details/common-section-card-overview-details.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-overview-details/common-section-card-overview-details.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-table-helpers.service.ts
Labels: epic: feature flags, release 6.0

#1877 Enhance service account access token validation for improved security
  .jenkins/projectBuilder.Jenkinsfile
  backend/packages/Upgrade/.env.docker.local.example
  backend/packages/Upgrade/.env.example
  backend/packages/Upgrade/.env.test
  backend/packages/Upgrade/src/auth/AuthService.ts
  backend/packages/Upgrade/src/env.ts
  cloudformation/backend/app-infrastructure.yml
Labels: enhancement, backend, release 6.0

#1924 Add description under flag name with tooltip
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.scss
Labels: epic: feature flags, release 6.0

#1963 Remove error snackbar for 401 errors that redirects to the login page
  frontend/projects/upgrade/src/app/core/http-interceptors/http-error.interceptor.ts
Labels: enhancement, small-pr, frontend

#1964 Make GOOGLE_SERVICE_ACCOUNT_ID optional
  backend/packages/Upgrade/src/auth/AuthService.ts
  backend/packages/Upgrade/src/env.ts
Labels: backend, small-pr

#1970 Make Global Exclude row always appear at the top and fix sorting
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/CustomMatTableSource.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/segments-list.component.ts
Labels: frontend, bugfix

#1973 Fix/refresh issues with hashing
  frontend/projects/upgrade/src/app/app-routing.module.ts
  frontend/projects/upgrade/src/app/core/auth/auth.service.ts
  frontend/projects/upgrade/src/app/core/auth/store/auth.effects.ts
  frontend/projects/upgrade/src/app/features/dashboard/dashboard-root/dashboard-root.component.ts
  frontend/projects/upgrade/src/environments/environment-types.ts
  frontend/projects/upgrade/src/environments/environment.beanstalk.prod.ts
  frontend/projects/upgrade/src/environments/environment.bsnl.ts
  frontend/projects/upgrade/src/environments/environment.demo.prod.ts
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.qa.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
Labels: bugfix

#1955 v6 client controller with separate user check middleware
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v6.ts
  backend/packages/Upgrade/src/api/controllers/validators/ExperimentAssignmentValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/ExperimentUserAliasesValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/ExperimentUserValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/LogValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/MarkExperimentValidator.v6.ts
  backend/packages/Upgrade/src/api/controllers/validators/UpdateWorkingGroupValidator.ts
  backend/packages/Upgrade/src/api/middlewares/UserCheckMiddleware.ts
  backend/packages/Upgrade/src/types/index.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentClientController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/ExperimentAssignmentServiceMock.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/UserCheckMiddlewareMock.ts
  clientlibs/js/src/ApiService/ApiService.spec.ts
  clientlibs/js/src/ApiService/ApiService.ts
  clientlibs/js/src/UpGradeClient/UpgradeClient.ts
  clientlibs/js/src/types/Interfaces.ts
  clientlibs/js/src/types/requests.ts
  types/src/Experiment/interfaces.ts
  types/src/index.ts
Labels: release 6.0

#1975 Display loading progress bar for the Segments list table
  frontend/projects/upgrade/src/app/core/segments/store/segments.reducer.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/CustomMatTableSource.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/components/segments-list/segments-list.component.html
Labels: frontend

#1786 Adding validation and 409 error to flags
  backend/packages/Upgrade/src/api/middlewares/ErrorHandlerMiddleware.ts
  backend/packages/Upgrade/src/api/models/FeatureFlag.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagRepository.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/src/database/migrations/1721969267641-UniquePairFlag.ts
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.actions.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/core/http-interceptors/http-error.interceptor.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-modal/upsert-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-modal/upsert-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-modal/upsert-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  types/src/Experiment/enums.ts
Labels: epic: feature flags, release 6.0

#1988 Send 400 bad request error for no user-id header in api request
  backend/packages/Upgrade/src/api/middlewares/UserCheckMiddleware.ts
Labels: bugfix, release 6.0

#1989 Bugfix: Proper Segment member counts on hard refresh
  backend/packages/Upgrade/src/api/services/SegmentService.ts
Labels: bugfix, release 6.0

#1991 Send 400 bad request error for no user-id header in api request
  backend/packages/Upgrade/src/api/middlewares/UserCheckMiddleware.ts
  backend/packages/Upgrade/src/database/migrations/1727370713700-missingUserIdHeaderServerError.ts
  types/src/Experiment/enums.ts
Labels: bugfix, release 6.0

#1996 Add 'System' Username to Audit Logs Generated with API Requests
  backend/packages/Upgrade/src/auth/AuthService.ts
Labels: enhancement
