Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2024-07, with the labels that each got.

#1673 Import Feature flag modal implemented
  backend/packages/Upgrade/src/api/repositories/ExperimentRepository.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/import-feature-flag-modal/import-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/import-feature-flag-modal/import-feature-flag-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/import-feature-flag-modal/import-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: epic: feature flags

#1729 Adding segment controller unit test cases and resolved other small issues in unit tests
  backend/packages/Upgrade/src/api/controllers/ExperimentController.ts
  backend/packages/Upgrade/test/unit/controllers/AnalyticsController.test.ts
  backend/packages/Upgrade/test/unit/controllers/ExperimentController.test.ts
  backend/packages/Upgrade/test/unit/controllers/SegmentController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/SegmentServiceMock.ts
Labels: bugfix

#1748 Update demo-app.js for the demo app's tour to work with UpGrade v5.2.0
  frontend/projects/upgrade/src/assets/js/demo-app.js
Labels: frontend, demo

#1756 Feature/add list modal
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-list-modal/upsert-feature-flag-list-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-list-modal/upsert-feature-flag-list-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-list-modal/upsert-feature-flag-list-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal-config.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/styles.scss
Labels: epic: feature flags

#1719 feature flag lists backend changes
  backend/packages/Upgrade/src/api/DTO/ExperimentDTO.ts
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagListValidator.ts
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagValidator.ts
  backend/packages/Upgrade/src/api/models/FeatureFlag.ts
  backend/packages/Upgrade/src/api/models/FeatureFlagSegmentExclusion.ts
  backend/packages/Upgrade/src/api/models/FeatureFlagSegmentInclusion.ts
  backend/packages/Upgrade/src/api/models/Segment.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagRepository.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagSegmentExclusionRepository.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagSegmentInclusionRepository.ts
  backend/packages/Upgrade/src/api/repositories/SegmentRepository.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/src/api/services/SegmentService.ts
  backend/packages/Upgrade/src/database/migrations/1720810654183-feature-flag-lists.ts
  backend/packages/Upgrade/test/integration/FeatureFlags/FeatureFlagInclusionExclusion.ts
  backend/packages/Upgrade/test/integration/mockData/featureFlag/index.ts
  backend/packages/Upgrade/test/unit/controllers/FeatureFlagController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/FeatureFlagServiceMock.ts
  backend/packages/Upgrade/test/unit/repositories/FeatureFlagRepository.test.ts
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
Labels: priority: high, epic: feature flags

#1712 Added pagination call on scroll in FF
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.ts
Labels: epic: feature flags

#1787 Hide scrollbar for modal content, section card list, and tag input when not in use on Linux
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-list/common-section-card-list.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tag-input/common-tag-input.component.scss
Labels: small-pr, epic: feature flags, release 6.0
