Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2024-08, with the labels that each got.

#1793 Implement Include List Row Actions
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/test/unit/controllers/FeatureFlagController.test.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.actions.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.actions.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.model.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-table/feature-flag-inclusions-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-table/feature-flag-inclusions-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
Labels: epic: feature flags, release 6.0

#1799 Prevent App Freezing in Metrics Component with Large Datasets
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.component.html
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/profile/components/metrics/metrics.model.ts
Labels: priority: high, frontend, bugfix

#1803 Update getAllExperimentConditions to respond 404 when /assign is requested without /init
  backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts
  backend/packages/Upgrade/test/unit/services/ExperimentAssignmentService.test.ts
Labels: small-pr, bugfix

#1805 Update getKeys to respond 404 when /featureflag is requested without /init
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
Labels: small-pr, bugfix

#1813 Update default/fallback filter mode to EXCLUDE_ALL for experiments
  backend/packages/Upgrade/src/api/models/Experiment.ts
  backend/packages/Upgrade/src/api/services/ExperimentService.ts
Labels: small-pr

#1826 Implement Exclude List Row Actions
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.actions.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-table/feature-flag-exclusions-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-table/feature-flag-exclusions-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-table/feature-flag-inclusions-table.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-action-buttons/common-section-card-action-buttons.component.html
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: epic: feature flags, release 6.0

#1823 parse failed message added in common import container
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-import-container/common-import-container.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-import-container/common-import-container.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-import-container/common-import-container.component.ts
Labels: small-pr

#1829 Add support for service account access tokens
  backend/packages/Upgrade/src/auth/AuthService.ts
Labels: enhancement, backend

#1830 Display warning icon when flag is enabled but no participants defined
  backend/packages/Upgrade/src/api/repositories/FeatureFlagRepository.ts
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-modal/upsert-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card-table/feature-flag-root-section-card-table.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-title-header/common-section-card-title-header.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-title-header/common-section-card-title-header.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-status-indicator-chip/common-status-indicator-chip.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-status-indicator-chip/common-status-indicator-chip.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-status-indicator-chip/common-status-indicator-chip.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tabbed-section-card-footer/common-tabbed-section-card-footer.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tabbed-section-card-footer/common-tabbed-section-card-footer.component.scss
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: enhancement

#1824 Parameterize the common-tag-input label and implement values upload / download
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/import-feature-flag-modal/import-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-modal/upsert-feature-flag-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-modal/upsert-feature-flag-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-import-container/common-import-container.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-import-container/common-import-container.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-import-container/common-import-container.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-modal/common-modal.types.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tag-input/common-tag-input.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tag-input/common-tag-input.component.scss
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-tag-input/common-tag-input.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  frontend/projects/upgrade/src/styles.scss
Labels: epic: feature flags, release 6.0

#1832 Bump to v6
  backend/package-lock.json
  backend/package.json
  backend/packages/Scheduler/package-lock.json
  backend/packages/Scheduler/package.json
  backend/packages/Upgrade/package-lock.json
  backend/packages/Upgrade/package.json
  clientlibs/java/pom.xml
  clientlibs/js/package-lock.json
  clientlibs/js/package.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  types/package-lock.json
  types/package.json
Labels: release 6.0

#1833 Fix undefined featureFlagSegmentInclusion and featureFlagSegmentExclusion errors
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.reducer.ts
Labels: bugfix, epic: feature flags, release 6.0

#1845 Centralize demo mode DB clearing logic in ExperimentUserService
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v1.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v4.ts
  backend/packages/Upgrade/src/api/controllers/ExperimentClientController.v5.ts
  backend/packages/Upgrade/src/api/services/ExperimentUserService.ts
Labels: enhancement, backend

#1825 FeatureFlag import API
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagSegmentExclusionRepository.ts
  backend/packages/Upgrade/src/api/repositories/FeatureFlagSegmentInclusionRepository.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/test/integration/FeatureFlags/FeatureFlagInclusionExclusion.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/FeatureFlagServiceMock.ts
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/import-feature-flag-modal/import-feature-flag-modal.component.ts
  types/src/Experiment/interfaces.ts
  types/src/index.ts
Labels: release 6.0

#1857 Remove "View Logs" link on the details page
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-title-header/common-section-card-title-header.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-section-card-title-header/common-section-card-title-header.component.ts
Labels: frontend, epic: feature flags

#1828 Export feature flag design json api endpoint
  backend/packages/Upgrade/src/api/controllers/FeatureFlagController.ts
  backend/packages/Upgrade/src/api/controllers/StratificationController.ts
  frontend/projects/upgrade/src/app/core/feature-flags/feature-flags.data.service.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/environments/environment-types.ts
  frontend/projects/upgrade/src/environments/environment.bsnl.ts
  frontend/projects/upgrade/src/environments/environment.demo.prod.ts
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
Labels: backend, epic: feature flags, release 6.0

#1881 Add index to models
  backend/packages/Upgrade/src/api/models/IndividualEnrollment.ts
  backend/packages/Upgrade/src/api/models/IndividualExclusion.ts
  backend/packages/Upgrade/src/database/migrations/1716191003726-addingIndex.ts
  backend/packages/Upgrade/src/loaders/typeormLoader.ts
Labels: priority: high
