Repository CarnegieLearningWeb/UpGrade, pull requests merged in 2025-04, with the labels that each got.

#2314 Implement SegmentUsedBySectionCardComponent
  frontend/projects/upgrade/src/app/core/segments/segments.service.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.model.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-used-by-section-card/segment-used-by-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-used-by-section-card/segment-used-by-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-used-by-section-card/segment-used-by-table/segment-used-by-table.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-used-by-section-card/segment-used-by-table/segment-used-by-table.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-used-by-section-card/segment-used-by-table/segment-used-by-table.component.ts
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: frontend, epic: segments

#2353 Implement Add/Edit/Delete Segment List Modals 2
  backend/packages/Upgrade/src/api/controllers/validators/FeatureFlagListValidator.ts
  backend/packages/Upgrade/src/api/services/FeatureFlagService.ts
  backend/packages/Upgrade/test/unit/controllers/SegmentController.test.ts
  backend/packages/Upgrade/test/unit/controllers/mocks/SegmentServiceMock.ts
  backend/packages/Upgrade/test/unit/services/FeatureFlagService.test.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.model.ts
  frontend/projects/upgrade/src/app/core/segments/segments.data.service.spec.ts
  frontend/projects/upgrade/src/app/core/segments/segments.data.service.ts
  frontend/projects/upgrade/src/app/core/segments/segments.service.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.actions.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.effects.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.model.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.reducer.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-exclusions-section-card/feature-flag-exclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-inclusions-section-card/feature-flag-inclusions-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-lists-section-card/segment-lists-section-card.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
  frontend/projects/upgrade/src/environments/environment-types.ts
  frontend/projects/upgrade/src/environments/environment.beanstalk.prod.ts
  frontend/projects/upgrade/src/environments/environment.prod.ts
  frontend/projects/upgrade/src/environments/environment.qa.ts
  frontend/projects/upgrade/src/environments/environment.staging.ts
  frontend/projects/upgrade/src/environments/environment.ts
Labels: epic: segments

#2371 Implement Delete Segment Modal
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/delete-segment-modal/delete-segment-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/delete-segment-modal/delete-segment-modal.component.scss
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/delete-segment-modal/delete-segment-modal.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-overview-details-section-card/segment-overview-details-section-card.component.ts
  frontend/projects/upgrade/src/app/shared/services/common-dialog.service.ts
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: epic: segments

#2375 Refine Warning Message in Edit Segment Modal
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-segment-modal/upsert-segment-modal.component.scss
  frontend/projects/upgrade/src/assets/i18n/en.json
Labels: frontend, epic: segments

#2389 Fix TypeError on Feature Flag details page
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-details-page/feature-flag-details-page-content/feature-flag-overview-details-section-card/feature-flag-overview-details-section-card.component.ts
Labels: small-pr, frontend, bugfix

#2387 Update selectPrivateSegmentListTypeOptions to support both Feature Flag and Segment
  frontend/projects/upgrade/src/app/core/segments/segments.service.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.selectors.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.ts
Labels: frontend, bugfix, epic: segments

#2395 Fix parameter handling and pagination filter in segment/flag effects
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.effects.ts
  frontend/projects/upgrade/src/app/core/feature-flags/store/feature-flags.selectors.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.effects.ts
  frontend/projects/upgrade/src/app/core/segments/store/segments.selectors.ts
Labels: bugfix

#2404 exclude global excludes from segments fetch
  backend/packages/Upgrade/src/api/services/SegmentService.ts
Labels: small-pr

#2414 Fix Segment Options Filtering on Add/Edit List Modal
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/modals/upsert-private-segment-list-modal/upsert-private-segment-list-modal.component.ts
Labels: frontend, epic: segments

#2416 Add Used By Count to Section Card Header
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-used-by-section-card/segment-used-by-section-card.component.html
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-details-page/segment-details-page-content/segment-used-by-section-card/segment-used-by-section-card.component.ts
Labels: epic: segments

#2450 Trim search string on the Feature Flags and Segments root page
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/pages/feature-flag-root-page/feature-flag-root-page-content/feature-flag-root-section-card/feature-flag-root-section-card.component.ts
  frontend/projects/upgrade/src/app/features/dashboard/segments/pages/segment-root-page/segment-root-page-content/segment-root-section-card/segment-root-section-card.component.ts
Labels: small-pr, frontend

#2448 Preserve Original Key Field Value When Editing Enabled Feature Flag
  frontend/projects/upgrade/src/app/features/dashboard/feature-flags/modals/upsert-feature-flag-modal/upsert-feature-flag-modal.component.ts
Labels: frontend, bugfix

#2458 Move Values Count Logic to a Function
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.html
  frontend/projects/upgrade/src/app/shared-standalone-component-lib/components/common-details-participant-list-table/common-details-participant-list-table.component.ts
Labels: enhancement, frontend
